<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客频道-MCHEN.XIN</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- footer -->
    <link href="/css/footer.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        p{
            margin-top: 10px;
            color:#c3c3c3;
            text-indent:5px;

        }
    </style>
  </head>
  <body>
    <!--内容区域 start -->
    <div class="container">

        <!--导航栏区域 start-->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="images/logo.png" width="75" alt="博客" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">博客专栏</a></li>
                <li><a href="#">博客专家</a></li>
                <li><a href="#">观点</a></li>
                <li><a href="#">排行榜</a></li>
                <li><a href="#">我的博客</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">注册</a></li>
                        <li><a href="#">登录</a></li>
                        <li class="divider"></li>
                        <li><a href="#">在线帮助</a></li>
                        <li class="dropdown-header">联系我们</li>
                        <li class="divider"></li>
                        <li><a href="#">关注我们</a></li>
                        <li><a href="#">我要留言</a></li>
                    </ul>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">注册</a></li>
                    <li><a href="#">登录</a></li>
                    <li><a href="#">关注<span class="badge">102</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <!--导航栏区域 end-->
        <!--巨幕区域 start-->
        <div class="jumbotron">
            <h1>Welcome!梦创晨曦Blog</h1>
            <p>This is a person blog</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
        <!--巨幕区域 end-->
        <!--博文内容区域 start-->
        <div class="row">
            <div class="col-md-12">
               <!--循环输出结果,实现新闻列表的显示-->
               <% list.forEach(function(article){ %>  
                    <div class="media">
                        <a class="media-left media-middle" href="#">
                            <img src="<%= article.uhead%>" alt="..." class="img-circle">
                        </a>
                        <div class="media-body">
                            <a href="/news_details?newsid=<%=article.aid%>"><h4 class="media-heading"><%= article.antitle%></h4></a>
                            <p><%= article.adesc%></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <!--博文内容 end-->
        <!--分页栏 start-->
        <div class="fenye">
             <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <!--分页栏 end-->
        <!--页脚 start-->
	 <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="#">梦创晨曦Blog</a>.</strong> All rights reserved.
	 </footer>
        <!--页脚 end-->
    </div>
    <!--内容区域 end-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>